:root {
  --primary: #10141e;
  --accent: #facc15;
  --text: #ffffff;
  --gray: #9ca3af;
  --bg-card: #1f2937;
}

.app-navbar {
  background: #0f172a;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--gray);

  display: flex;
  gap: 2rem;
  align-items: center;
}

.app-navbar a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 600;
  font-family: "Baron", sans-serif;
  letter-spacing: 1px;

  position: relative;
  transition: 0.3s ease;
}

.app-navbar a:hover {
  color: var(--accent);
}

.app-navbar a.router-link-active {
  color: var(--accent);
}

.app-navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: var(--accent);
  transition: 0.3s ease;
}

.app-navbar a:hover::after {
  width: 100%;
}

.app-navbar a.router-link-active::after {
  width: 100%;
}

.tasks-container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

.tasks-container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.tasks-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.task-create {
  background: var(--bg-card);
  padding: 1.5rem;
  border-radius: 12px;
  border: 2px solid var(--gray);
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.task-create input,
.task-create textarea,
.task-create select {
  background: #111827;
  border: 1px solid var(--gray);
  color: white;
  padding: 0.6rem;
  border-radius: 8px;
}

.task-create button {
  background: var(--accent);
  border: none;
  padding: 0.6rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.tasks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
}

.task-card {
  background: var(--bg-card);
  border: 3px solid var(--gray);
  border-radius: 18px;
  padding: 1.2rem;

  box-shadow: 0 8px 24px rgba(0,0,0,0.3);

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  transition: 0.2s;
}

.task-card:hover {
  transform: translateY(-4px);
  border-color: var(--accent);
}

.task-title input {
  font-size: 1.2rem;
  font-weight: bold;
  background: transparent;
  border: none;
  color: white;
}

.task-meta {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.task-meta input,
.task-meta select,
.task-card textarea {
  background: #111827;
  border: 1px solid var(--gray);
  color: white;
  padding: 0.4rem;
  border-radius: 8px;
}

.task-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}

.btn-update {
  flex: 1;
  background: #22c55e;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn-delete {
  flex: 1;
  background: #ef4444;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
